Мета: створити вебсайт цифрової бібліотеки, що дозволить зареєстрованим користувачам купувати та читати онлайн книги та інші видання.
Зробити так щоб під час читання та користування бібліотекою можна було обирати книги відповідно до вимог користувача через фільтрацію та
використовуючи зручні функції для читання з платою за кожну окремо взяту книгу.

Можливості користувача:
1. Реєстрація та авторизація
2. Наявність особистого кабінету
3. Доступ до читання книг різними мовами
4. Перегляд списку з книгами через фільтрацію
5. Додавання оцінок на книгу,коментарів,закладок на місці зупинки читання
6. Створення цитат з текстів книги
7. Перегляд історії читання
8. Створення списку бажань,колекцій з книгами та улюблених книг
9. Пошук книг через назву чи ім'я або ж прізвище автора.

Можливості адміністратора:
1) Вхід до адміністративної панелі
2) Додавання,редагування,видалення,оновлення книг
3) Перегляд та блокування користувачів,коментарів залишених користувачами
4) Перегляд базової статистики з кількості наявних книг по різних жанрах,різними мовами,по авторах
5) Статистика по найбільш популярних книгах, по кількості купівлі книг
6) Статистика по загальній кількості активних читачів.

Технології для використання:
Frontend: HTML,CSS,Java Script
Backend:PHP
DataBase: My SQl
